<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gt.dev.ilifebelt.nseilifebelt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".controller.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ilifebelt_nse_01_120px"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="MyDatabase.db" />

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.gt.dev.ilifebelt.nseilifebelt.model.Results, com.gt.dev.ilifebelt.nseilifebelt.Item" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.NSEActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.charts.QualitiesActivity" />

        <activity
            android:name=".activity.ResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LibraryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.UserResultActivity"
            android:label="@string/title_activity_user_result"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ContactActivity"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.GtNSEActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.GTResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.charts.ChartMainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.charts.DefectsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.charts.ReligionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.charts.HappinessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.IlifebeltWelcomeActivity"

            android:screenOrientation="portrait"></activity>
    </application>

</manifest>